//- ----------------------------------
//- 💥 DEMOS > SENSE2VEC
//- ----------------------------------

include _mixins

header.o-banner
    h1.u-heading-1=title
    p.o-block.u-text-medium Our semantic AI is a neural network that read 8GB worth of news articles and now understands what you look for and some ideas of what might be similar!. Try searching for something or someone e.g. #[a(href="?word=Donald%20Trump") Donald Trump], #[a(href="?word=Kellyanne%20Conway") Kellyanne Conway], #[a(href="?word=Boris%20Johnson") Boris Johnson], #[a(href="?word=Theresa%20May") Theresa May], #[a(href="?word=Assad") Assad] to see what the model thinks it means. Other ideas: #[a(href="?Brexit") Brexit], #[a(href="?nuclear%20deal") nuclear deal], #[a(href="?nuclear%20power") nuclear power], #[a(href="?word=climate%20change") climate change], #[a(href="?word=terrorist%20group") terrorist group], #[a(href="?word=executive%20order") executive order], #[a(href="?word=unconstitutional") unconstitutional], #[a(href="?word=hard-liners") hard-liners], #[a(href="?word=sanctuary%20cities") sanctuary cities], #[a(href="?word=electric%20cars") electric cars], #[a(href="?word=petroleum") petroleum], #[a(href="?word=snowzilla") snowzilla], #[a(href="?word=lady%20gaga") Lady Gaga], #[a(href="?word=tom%20brady") Tom Brady].

    .o-form
        +input("Your term here...").u-text-large#input
            +search#submit

.o-container#sense2vec

+error("Oops, something went wrong. Please try again!")
